<div class="row">
    <div class="span6 offset3">
        <h2>Change Password</h2>

        <form action="#" class="form-horizontal well" method="post">
            <fieldset>
                <div class="control-group">
                    <label class="control-label" for="old">Old Password</label>

                    <div class="controls">
                        <input type="password" class="input-xlarge" id="old" name="old">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="new">New Password</label>

                    <div class="controls">
                        <input type="password" class="new input-xlarge" id="new" name="new">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="match">Confirm Password</label>

                    <div class="controls">
                        <input type="password" class="new input-xlarge" id="match" name="match">
                    </div>
                </div>
                <div class="form-actions">
                    <button type="submit" class="btn btn-primary">Log in</button>
                </div>
            </fieldset>
        </form>
    </div>
</div>