<div class="row">
    <div class="span6 offset3">
        <h2>Log In</h2>

        <form action="#" class="form-horizontal well" method="post">
            <fieldset>
                <div class="control-group">
                    <label class="control-label" for="email">E-mail</label>

                    <div class="controls">
                        <input type="text" class="input-xlarge" id="email" name="email">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="password">Password</label>

                    <div class="controls">
                        <input type="password" class="input-xlarge" id="password" name="password">
                    </div>
                </div>
                <div class="form-actions">
                    <button type="submit" class="btn btn-primary">Log in</button>
                </div>
            </fieldset>
        </form>

        <p class="well"><span class="icon-circle-arrow-right icon-white"></span><a href="/password/lost">Click here if you have lost your password</a></p>
    </div>
</div>