<div class="span6 offset3">
    <h2>Lost Password</h2>

    <p>Enter your email address and we'll email you a link to reset your password</p>

    <form class="form-horizontal well">
        <fieldset>
            <div class="control-group">
                <label class="control-label" for="email">E-mail</label>

                <div class="controls">
                    <input type="email" class="input-xlarge" id="email">
                </div>
            </div>
            <div class="form-actions">
                <button type="submit" class="btn btn-primary">Send It</button>
            </div>
        </fieldset>
    </form>
</div>