<section id="main" class="l:surround?with=default;at=content">
    <lift:Msgs>
        <lift:notice_class>alert alert-success</lift:notice_class>
        <lift:error_class>alert alert-error</lift:error_class>
    </lift:Msgs>

    <div class="row">
        <div class="span6 offset3">
            <h2>Reset your password</h2>

            <form action="#" class="form-horizontal well" method="post">
                <fieldset>
                    <div class="control-group">
                        <label class="control-label" for="password">Enter your new password</label>

                        <div class="controls">
                            <input type="password" class="input-xlarge" id="password" name="password">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="re-password">Enter your new password (repeat)</label>

                        <div class="controls">
                            <input type="password" class="input-xlarge" id="re-password" name="re-password">
                        </div>
                    </div>
                    <div class="form-actions">
                        <button type="submit" class="btn btn-primary">Set Password</button>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</section>