<div class="row">
    <div class="span7"><h3 class="tday-date day">Someday, Mon XX</h3></div>
    <div class="span1"><h3 class="tday-total pull-right">00:00:00</h3></div>
    <table class="span8 table">
        <tbody class="table-bordered trows">
        <tr class="trows pointer">
            <td class="span9"><span class="tcontent">some text</span> <span class="ttags tag">#tag</span></td>
            <td class="span1"><span class="pull-right tstart">00:00</span></td>
            <td class="span1"><span class="pull-right tend">00:00</span></td>
        </tr>
        </tbody>
    </table>
</div>