<div class="row">
    <aside class="span8 pull-left">
        <div class="list"><!-- tasks will be placed here --></div>
    </aside>
    <aside class="span4 pull-right">
        <div id="search-box" class="well summary">
            <h2>Report of worked hours</h2>

            <h3>From: <span class="from tag">08/01/2012</span></h3>

            <h3>Until: <span class="until tag">08/01/2012</span></h3>

            <h3>Total: <span class="total tag">25:00</span></h3>
        </div>
    </aside>
</div>
