.input-xxxlarge{width: 455px;}
.input-xmedium{width: 237px;}
table{background-color: transparent;}
#create-task-form{height: 43px;}
.tag{color:#e8d069;}
#lift__noticesContainer___notice ul,
#lift__noticesContainer___error ul,
#lift__noticesContainer___warning ul
{list-style: none;}
#lift__noticesContainer___notice li,
#lift__noticesContainer___warning li
{padding-top: 10px;}
.dialog{margin:0;font-family:'Cabin',Verdana,sans-serif;font-size:14px;line-height:20px;height:100%;color:rgba(255, 255, 255, 0.9);background-color:#0F8790;padding:25px;}
.dialog label{width: 60px;}
.form-from-until{padding: 10px 0 10px 0;}
.spacer1{display:inline-block;width: 50px;}
.pointer{cursor: pointer;}
.grey-text{color:#afafaf !important;}
.strech-horizontal { margin-left: 0; width: 100%; }
#loading{left: 0; margin: 0 auto; position: relative; top: 50%; width: 300px; z-index: 1000;}
.topspacer20{margin-top: 20px;}
#last-days-box ul {list-style: none;margin: 0; padding: 0;}
#last-days-box li {margin: 0; padding: 0 0 10px 0;}

#last-days-act-scroll { width: 340px; clear: both; margin: 20px 0 10px; }
#last-days-act-scroll .viewport { width: 325px; height: 200px; overflow: hidden; position: relative; }
#last-days-act-scroll .overview { list-style: none; position: absolute; left: 0; top: 0; }
#last-days-act-scroll .thumb .end,
#last-days-act-scroll .thumb { background-color: #003D5D; }
#last-days-act-scroll .scrollbar { position: relative; float: right; width: 15px; }
#last-days-act-scroll .track { background-color: #0F8C95; height: 100%; width:13px; position: relative; padding: 0 1px; }
#last-days-act-scroll .thumb { height: 20px; width: 13px; cursor: pointer; overflow: hidden; position: absolute; top: 0; }
#last-days-act-scroll .thumb .end { overflow: hidden; height: 5px; width: 13px; }
#last-days-act-scroll .disable{ display: none; }

#inline-earlier .alert-error,
#inline-edit-delete .alert-error { display: none; }