<div>
    <ul class="nav">
        <li class="mn-home active"><a href="/">Home</a></li>
        <li class="mn-tracker"><a href="/tracker">Tracker</a></li>
        <li class="mn-manual"><a href="/manual">Manual</a></li>
    </ul>
</div>