<div>
    <ul class="nav pull-right">
        <li class="mn-signup"><a href="/signup">Sign Up</a></li>
        <li class="mn-divider pdivider-vertical">|</li>
        <li class="mn-login"><a href="/login">Log in</a></li>
        <li class="mn-user dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <span class="user-name">Gilberto Garcia</span> <span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a href="/profile">Profile</a></li>
                <li><a href="/password/change">Change Password</a></li>
                <li class="divider"></li>
                <li><a href="/logout">Log Out</a></li>
            </ul>
        </li>
    </ul>
</div>